:root {
	--color-logo_1: #4d5ae5;
	--color-logo_2: #2e2f42;
	--color-navigation: #2e2f42;
	--coror-address: #434455;
	--color-heading: #ffffff;
	--color-h3: #2e2f42;
	--color-h2: #2e2f42;
	--color-p: #434455;
	--color-p_footer: #f4f4fd;
	--color-button_1: #ffffff;
	--color-button_2: #ffffff;
	--color-button_3: #4d5ae5;
	--color-info: #2e2f42;
	--color-info1: #434455;
}

body {
	font-family: Roboto;
	color: #434455;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

img {
	background-color: #e7e9fc;
}

.logo_1 {
	color: var(--color-logo_1);
	font-family: Raleway;
	font-size: 18px;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.03em;
	text-align: left;
}
.logo_2 {
	color: var(--color-logo_2);
	font-family: Raleway;
	font-size: 18px;
	font-weight: 800;
	line-height: 21px;
	letter-spacing: 0.03em;
	text-align: left;
}
.logo_3 {
	color: white;
}

.address > a {
	color: var(--coror-address);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}
.address > a:active a:focus {
	color: #404bbf;
}
.navigation {
	color: var(--color-navigation);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}

.navigation a:active a:focus {
	color: #404bbf;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}
.heading {
	color: var(--color-heading);
	background-color: #2e2f42;
}

.button_1 {
	color: var(--color-button_1);
	background-color: #4d5ae5;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: center;
}

.button_1 a:hover {
	color: var(--color-button_1);
	background-color: #404bbf;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: center;
}
.button_2 {
	color: var(--color-button_2);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: center;
}

.button_3 {
	color: var(--color-button_3);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: center;
}

.section_our_team {
	background-color: #f4f4fd;
}

h1 {
	font-family: Roboto;
	font-size: 56px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 0.02em;
	text-align: center;
}

h3 {
	color: var(--color-h3);
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}

h2 {
	color: var(--color-h2);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-align: center;
}

p {
	color: var(--color-p);
}
.footer {
	background-color: #2e2f42;
}

.p_footer {
	color: var(--color-p_footer);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
}
